<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<h1>About Bloccit</h1>
<p>Created by: Zachary Melancon</p>
<%= link_to "Follow me", "https://www.facebook.com/zmelan01", class: "social-btn" %>