<% if current_user %>
<div class="pull-left vote-arrows">
   <div class="js-up_vote"><%= link_to " ", post_up_vote_path(post), class: 'glyphicon glyphicon-chevron-up', method: :post %></div>
   <div><strong><%= post.points %></strong></div>
   <div class="js-down_vote"><%= link_to " ", post_down_vote_path(post), class: 'glyphicon glyphicon-chevron-down', method: :post %></div>
 </div>
 <% end %>